@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: white; */
  background-color: #fdfdfd;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #302935;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.selected-category {
  color: #604fed;
  border-bottom: 4px solid #604fed;
  padding-bottom: 2px; /* Space between text and underline */
  display: inline-block;
}
